<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post">
        <label>title:</label><input type="text" name="title" id="title">
        <label>desc:</label><input type="text"  name="desc">
        <label>categorey:</label>
        <select name="cate">
        <option>SCIENCE&amp;FICTION</option>
        <option>COMEDY</option>
        <option>STUDY&amp;EDUCATION</option>
        <option>ENTERTAINMENT</option>
        <option>ADVANTURE</option>
        <option>BUISNESS</option>
        <option>ROMANCE&amp;LOVE</option>
        </select>
        <label>Thumbnail:</label><input type="file" name="thumb">
        <label>Video:</label><input type="file" name="video">
        <button type="submit">save</button>
    </form>
    <div id="hello"></div>
</body>
</html>